*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Backend
backend/node_modules/
backend/.env
backend/migrations/
backend/dist/
